@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  user-select: none;
}

:root {
  --main-color: #1083d6;
  --hooverblue: #166299;
  --title-color: #eff3f5;
  --text-color: #697477;
  --light-text-color: #a0a7ac;
  --border-color: #eff3f5;
  --container-color: #ffffff;
  --body-color: #fbfbfe;
  --shadow: rgba(11, 11, 11, 0.555);
}

body.darkmode {
  --main-color: #52a5e0;
  --hooverblue: #4385b4;
  --title-color: #eff3f5;
  --text-color: #c8cdd0;
  --light-text-color: #a0a7ac;
  --border-color: #2a3b47;
  --container-color: #212e36;
  --body-color: #193041;
  --shadow: rgba(255, 255, 255, 0.35);
}

body {
  margin: 0;
  background-color: var(--body-color);
}

.App {
  min-width: 370px;
  background-color: var(--body-color);
  padding: 1rem;
  height: 100%;
  margin-top: 120px;
}

.header {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: 10px double var(--light-text-color);
  background-image: url(../../img/loading.gif);
  background-position: center;
  background-size: 250px;
  background-repeat: no-repeat;
  background-color: #033353;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  height: 120px;
}

.header__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 600px) {
  .header__btn {
    flex-direction: row-reverse;
  }
}

.header__btn .bx-sun,
.header__btn .bx-moon {
  cursor: pointer;
  color: var(--main-color);
  font-size: 2rem;
}

h1 {
  margin: 0;
  font-weight: 700;
  color: var(--title-color);
  letter-spacing: 3px;
  align-self: center;
  font-family: "Big Shoulders Display", cursive;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: 1px solid transparent;
  background-color: var(--main-color);
  width: 100px;
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--hooverblue);
}

button:active {
  background-color: var(--light-text-color);
}

button span,
.bx {
  color: var(--body-color);
  font-size: 0.9rem;
}
.bx {
  font-size: 1.2rem;
}
.userscard__btn {
  border-top: 2px solid var(--text-color);
  padding-top: 0.5rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
}

.userscard__btn button:nth-child(1) {
  background-color: #d33;
}

.userscard__btn button:nth-child(1):hover {
  background-color: #ae2929;
}

.userscard__btn button:nth-child(1):active {
  background-color: rgb(94, 18, 18);
}

.userform__cancelX {
  cursor: pointer;
  border-radius: 50%;
  display: grid;
  place-content: center;
  width: 25px;
  aspect-ratio: 1;
  align-self: flex-end;
}

.userform__cancelX .bx {
  font-size: 2rem;
  color: #dd3333;
}

.userform__cancelX .bx:hover {
  color: #ae2929;
}

.userform__cancelX .bx:active {
  color: #5e1212;
}

.usercounter {
  font-weight: 500;
  padding: 1rem 0;
  text-align: center;
}

.userscard__grid {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.usercard {
  width: 350px;
  border: 2px solid var(--light-text-color);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
  transition: transform 0.5s, box-shadow 0.5s;
}

.usercard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px var(--shadow);
}

.usercard ul {
  line-height: 1.5rem;
}

.usercard ul .bx {
  color: var(--main-color);
}
.usercard ul li {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.usersform {
  border-radius: 1rem;
  padding: 1rem;
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
}

.userform__input {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.userform__input label {
  color: var(--main-color);
  font-weight: 500;
}

.userform__input input {
  font-size: 0.9rem;
  color: var(--text-color);
  background-color: var(--border-color);
}
.userform__btn {
  align-self: flex-end;
}

.filterinput__box {
  text-align: center;
  padding-top: 1rem;
}

.filterinput__box label {
  color: var(--main-color);
  margin-right: 0.5rem;
  font-weight: 500;
}

.filterinput__text,
input {
  display: inline-block;
  border: 0;
  border-radius: 26px;
  box-shadow: inset 0 0 0 2px var(--light-text-color);
  background: var(--body-color);
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 1000px;
  height: 35px;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:hover {
  box-shadow: inset 0 0 0 2px var(--text-color);
}

input:focus,
input:active {
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--main-color);
  background: var(--body-color);
}

input::placeholder {
  color: var(--light-text-color);
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-deny {
  width: auto;
}

.swal2-popup,
.swal2-modal,
.swal2-show {
  background-color: #ffffff;
  color: #697477;
}

body.darkmode .swal2-popup,
body.darkmode .swal2-modal,
body.darkmode .swal2-show {
  background-color: #212e36;
  color: #c8cdd0;
}
